* {
    margin: 0px;
    padding: 0px;
}

.container {
    margin: auto;
    height: 28.6em;
    width: 23.2em;
    border: 3px solid black;
    border-top: 0px;
    position: relative;
    top: 4.5em;
}

h1 {
    text-align: center;
    background-color: mediumaquamarine;
}

input.screen {
    padding: 16px 125px 20px 79px;
    margin: 9px 0px 23px 0px;
    position: relative;
    top: 7px;
}

button {
    margin: 1px;
    padding: 18px 28px 22px 45px;
    font-weight: bold;
    font-family: cursive;
}

.btn {
    padding: 20px 70px 20px 15px;
}